In [1]:
import pandas as pd
import glob

In [2]:
# Define the path to your files
path = r'../data\NY'

# Use glob to get all the CSV files in the folder
all_files = glob.glob(path + "/*.csv")

# Load all the files into a single DataFrame
df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)

# Verify the first records of the DataFrame
df.head()

C:\Users\Francisco\AppData\Local\Temp\ipykernel_20240\1275159926.py:8: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)
C:\Users\Francisco\AppData\Local\Temp\ipykernel_20240\1275159926.py:8: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)
C:\Users\Francisco\AppData\Local\Temp\ipykernel_20240\1275159926.py:8: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)
C:\Users\Francisco\AppData\Local\Temp\ipykernel_20240\1275159926.py:8: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)
C:\Users\Francisco\AppData\Local\Temp\ipykernel_20240\1275159926.py:8: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)
C:\Users\Francisco\AppData\Local\Temp\ipykernel_20240\1275159926.py:8: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E5B8C4DFACE42813,electric_bike,2024-11-09 12:34:17.909,2024-11-09 12:47:41.956,E 4 St & Ave B,5515.08,Mercer St & Spring St,5532.01,40.723347,-73.982659,40.723627,-73.999496,member
1,66AE1D7C81DAA911,electric_bike,2024-11-25 21:07:32.005,2024-11-25 21:20:34.349,E 39 St & Lexington Ave,6389.09,Greenwich Ave & Charles St,5914.08,40.749499,-73.977292,40.735238,-74.000271,member
2,43A39BF410C2F694,electric_bike,2024-11-16 01:13:03.167,2024-11-16 01:32:16.055,Lafayette St & E 8 St,5788.13,Riverside Dr & W 72 St,7288.04,40.730207,-73.991026,40.780578,-73.985624,member
3,51823416B564CD94,electric_bike,2024-11-24 00:20:20.762,2024-11-24 00:29:38.344,W 47 St & 9 Ave,6786.02,Riverside Dr & W 72 St,7288.04,40.761530,-73.990070,40.780578,-73.985624,member
4,BCC7B6CA4241A466,electric_bike,2024-11-14 09:24:15.552,2024-11-14 09:44:16.923,E 39 St & Lexington Ave,6389.09,South End Ave & Albany St,5114.08,40.749499,-73.977292,40.709957,-74.016538,member

In [3]:
# Identify columns with missing values
missing_values = df.isnull().sum()

# Display columns with missing values
missing_values[missing_values > 0]

start_station_name     3421
start_station_id       3421
end_station_name      17138
end_station_id        19113
end_lat                 961
end_lng                 961
dtype: int64

In [4]:
# Remove rows with null values in 'end_station_id'
df = df.dropna(subset=['end_station_id'])

# Verify the rows have been removed
missing_values_after_removal = df.isnull().sum()

# Display columns with remaining missing values
missing_values_after_removal[missing_values_after_removal > 0]

start_station_name    1976
start_station_id      1976
dtype: int64

In [5]:
# Remove rows with null values in 'start_station_id'
df = df.dropna(subset=['start_station_id'])

# Verify the rows have been removed
missing_values_final = df.isnull().sum()

# Display columns with remaining missing values
missing_values_final[missing_values_final > 0]

Series([], dtype: int64)

In [6]:
# Convert the 'started_at' and 'ended_at' columns to datetime objects
df['started_at'] = pd.to_datetime(df['started_at'])
df['ended_at'] = pd.to_datetime(df['ended_at'])

# Display information about the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6000216 entries, 0 to 6021304
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 640.9+ MB

In [7]:
# Identify rows where the trip duration is negative
negative_duration = df[df['ended_at'] <= df['started_at']]

# Display the rows with negative trip duration
negative_duration

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
4644,CB2BD62A556F7EE8,classic_bike,2024-11-03 01:55:58.893,2024-11-03 01:00:09.584,St Marks Pl & 2 Ave,5669.10,E 11 St & Ave B,5659.11,40.728419,-73.987140,40.727464,-73.979504,member
13166,10CFF47B5B13EF8B,electric_bike,2024-11-03 01:54:01.397,2024-11-03 01:01:51.441,E 63 St & 3 Ave,6830.02,1 Ave & E 38 St,6230.02,40.763954,-73.964600,40.746202,-73.971822,member
32561,A4639AB476BC8CC9,electric_bike,2024-11-03 01:55:39.966,2024-11-03 01:06:32.755,DeKalb Ave & Bedford Ave,4562.02,Irving Ave & Jefferson St,5051.02,40.690894,-73.955195,40.705380,-73.925350,member
33463,260501E4BCD9AF12,electric_bike,2024-11-03 01:58:50.371,2024-11-03 01:10:33.615,E 167 St & Clay Ave,8088.01,Dawson St & Intervale Ave,7888.10,40.830940,-73.911250,40.819999,-73.897263,casual
43708,79C1F3CF7792261B,classic_bike,2024-11-03 01:48:38.455,2024-11-03 01:00:17.139,Berkeley Pl & 6 Ave,4134.06,Washington Park,4546.05,40.676530,-73.978469,40.691782,-73.973730,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3640803,3A4184E441DE00D0,classic_bike,2024-11-03 01:49:27.337,2024-11-03 01:03:48.392,E 61 St & Madison Ave,6801.16,E 84 St & 1 Ave,7180.02,40.764753,-73.970378,40.775655,-73.950686,member
3643733,ABEB48305AABA760,classic_bike,2024-11-03 01:59:34.443,2024-11-03 01:07:28.214,E 77 St & 1 Ave,7020.02,E 84 St & 1 Ave,7180.02,40.770956,-73.953562,40.775655,-73.950686,member
3646670,21E87B2C719007D9,electric_bike,2024-11-03 01:57:40.632,2024-11-03 01:03:09.035,Washington Pl & Greene St,5755.15,Grand St & Greene St,5500.02,40.729806,-73.995464,40.721700,-74.002381,casual
3672242,DFDEDA991325DF94,electric_bike,2024-11-03 01:54:54.698,2024-11-03 01:00:22.909,Sullivan St & Washington Sq,5721.01,Spring St & Hudson St,5653.12,40.730477,-73.999061,40.725840,-74.007653,member
3686528,74E2113BA5425ADA,electric_bike,2024-11-03 01:59:14.665,2024-11-03 01:10:21.423,Cleveland Pl & Spring St,5492.05,E 26 St & 3 Ave,6089.11,40.722104,-73.997249,40.740693,-73.981606,member

In [8]:
# Adjust the 'ended_at' timestamps to correct negative durations caused by daylight saving time changes
df.loc[df['ended_at'] <= df['started_at'], 'ended_at'] += pd.Timedelta(hours=1)

# Verify the adjustment
negative_duration_corrected = df[df['ended_at'] <= df['started_at']]
negative_duration_corrected

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []

In [9]:
# Calculate trip duration in days
df['trip_duration_days'] = (df['ended_at'] - df['started_at']).dt.days

# Calculate trip duration in hours, excluding days
df['trip_duration_hours'] = ((df['ended_at'] - df['started_at']).dt.total_seconds() // 3600) % 24

# Calculate trip duration in minutes, excluding hours
df['trip_duration_minutes'] = ((df['ended_at'] - df['started_at']).dt.total_seconds() // 60) % 60

# Display the first few rows to inspect the new columns
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration_days,trip_duration_hours,trip_duration_minutes
0,E5B8C4DFACE42813,electric_bike,2024-11-09 12:34:17.909,2024-11-09 12:47:41.956,E 4 St & Ave B,5515.08,Mercer St & Spring St,5532.01,40.723347,-73.982659,40.723627,-73.999496,member,0,0.0,13.0
1,66AE1D7C81DAA911,electric_bike,2024-11-25 21:07:32.005,2024-11-25 21:20:34.349,E 39 St & Lexington Ave,6389.09,Greenwich Ave & Charles St,5914.08,40.749499,-73.977292,40.735238,-74.000271,member,0,0.0,13.0
2,43A39BF410C2F694,electric_bike,2024-11-16 01:13:03.167,2024-11-16 01:32:16.055,Lafayette St & E 8 St,5788.13,Riverside Dr & W 72 St,7288.04,40.730207,-73.991026,40.780578,-73.985624,member,0,0.0,19.0
3,51823416B564CD94,electric_bike,2024-11-24 00:20:20.762,2024-11-24 00:29:38.344,W 47 St & 9 Ave,6786.02,Riverside Dr & W 72 St,7288.04,40.761530,-73.990070,40.780578,-73.985624,member,0,0.0,9.0
4,BCC7B6CA4241A466,electric_bike,2024-11-14 09:24:15.552,2024-11-14 09:44:16.923,E 39 St & Lexington Ave,6389.09,South End Ave & Albany St,5114.08,40.749499,-73.977292,40.709957,-74.016538,member,0,0.0,20.0

In [10]:
# Convert 'started_at' and 'ended_at' columns to datetime objects
df['started_at'] = pd.to_datetime(df['started_at'])
df['ended_at'] = pd.to_datetime(df['ended_at'])

# Display DataFrame information to verify conversion
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6000216 entries, 0 to 6021304
Data columns (total 16 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ride_id                object
 1   rideable_type          object
 2   started_at             datetime64[ns]
 3   ended_at               datetime64[ns]
 4   start_station_name     object
 5   start_station_id       object
 6   end_station_name       object
 7   end_station_id         object
 8   start_lat              float64
 9   start_lng              float64
 10  end_lat                float64
 11  end_lng                float64
 12  member_casual          object
 13  trip_duration_days     int64
 14  trip_duration_hours    float64
 15  trip_duration_minutes  float64
dtypes: datetime64[ns](2), float64(6), int64(1), object(7)
memory usage: 778.2+ MB

In [11]:
# Add columns for day, month, and year
df['day'] = df['started_at'].dt.weekday
df['month'] = df['started_at'].dt.month
df['year'] = df['started_at'].dt.year

# Check the new columns
df[['day', 'month', 'year']].head()

   day  month  year
0    5     11  2024
1    0     11  2024
2    5     11  2024
3    6     11  2024
4    3     11  2024

In [12]:
# Check that the station coordinates are within a valid range
invalid_start_coords = df[(df['start_lat'] < -90) | (df['start_lat'] > 90) | (df['start_lng'] < -180) | (df['start_lng'] > 180)]
invalid_end_coords = df[(df['end_lat'] < -90) | (df['end_lat'] > 90) | (df['end_lng'] < -180) | (df['end_lng'] > 180)]

# Display invalid coordinates
invalid_start_coords, invalid_end_coords

(Empty DataFrame
 Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, trip_duration_days, trip_duration_hours, trip_duration_minutes, day, month, year]
 Index: [],
 Empty DataFrame
 Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, trip_duration_days, trip_duration_hours, trip_duration_minutes, day, month, year]
 Index: [])

In [13]:
# Export the cleaned data to a CSV file in the same path
df.to_csv('../data/cleaned_citibike_data_ny.csv', index=False)